<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="normalize.css" />
    <style>
      body {
        background-image: linear-gradient(to bottom, #002b5b, #5b57a7);
        font-family: "Alata", sans-serif;
        margin: 0;
      }

      header,
      footer {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      main {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h1 {
        color: white;
        font-size: 10rem;
        margin: 0px;
      }

      h2 {
        color: #e4dccf;
        font-size: 3rem;
        margin: 5px;
      }

      @media screen and (max-width: 767px) {
        h2 {
          font-size: 2rem;
        }
      }
    </style>
    <title>Page not found</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>404</h1>
      <h2>Page not found <span>&#9785;</span></h2>
    </main>
    <footer></footer>
  </body>
</html>
